*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#but-grill{
    padding: 50px;

}

#grill{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

.cell{
    background-color: red;
    margin: 7px;
    width: calc(100%/10 - 14px);
    height: 100px;
}
.cell.cell-click{
    background-color: skyblue;
}