*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
#but-grill{
    padding: 8px 30px;
    border: 0;
    background-color: gray;
    border-radius: 10px;
}
#but-grill:hover{
    background-color: aqua;
}

/* main */
main{
    background-color: aqua;
}
#grill{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}
.cell{
    background-color: aqua;
    border: 1px solid gray;
    margin: 7px;
    width: calc(100%/10 - 14px);
    height: 100px;
    text-align: center;
    font-size: 20px;
}
.cell.cell-click{
    background-color: skyblue;
}

/* footer */
footer{
    height: 40px;
    background-color: white;
}